<!DOCTYPE html>
<html>
<head>
</head>
<body>
{% block content %}

{% endblock %}
<a href="{{ url_for('recv_post') }}">Create Post</a>
<div>
    <a href="{{ url_for('home') }}">Home</a>
</div>
</body>
</html>